.header {
  display: flex;
  padding-left: var(--rc-left-margin);
  padding-right: var(--rc-rigth-margin);
  border-bottom: 1px solid var(--bs-border-color);
  background-color: var(--bs-secondary-bg);
  position: fixed;
  top: 0px;
  width: 100%;
  height: var(--rc-header-height);
}
  
.nav-link {
  color: var(--bs-body-color) !important;;
}

.nav {
  height: 100% !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}