.page {
    display: grid;
    grid-template-columns: 20em auto 20em;
    padding-top: 2em;
    gap: 3em;
    height: calc(100vh - var(--rc-header-height));
    margin-top: var(--rc-header-height);
    overflow: auto;
    scrollbar-gutter: stable;
}